

.content{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    // background-color: #F7F7F7;
}
.option{
    width: 350px;
    height: 435px;
    /* background-color: fuchsia; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.option p{
    text-align: center;
    font-family: var(--font-bald-roboto);
    font-weight: 1000;
    font-size: 1.6rem;
}
.photo{
    width:300px ;
    height: 300px;
    background-color: gold;
    -webkit-box-shadow: 17px -19px 50px -11px rgba(66, 68, 90, 1);
-moz-box-shadow: 17px -19px 50px -11px rgba(66, 68, 90, 1);
box-shadow: 17px -19px 50px -11px rgba(66, 68, 90, 1);
}
@media(max-width:1300px){
    .content{
        justify-content: space-around;
    }

}
@media(max-width:768px){
.photo{
    width:250px;
    height: 250px;
    background-color: gold;
}
.option{
    height: 300px;
    margin-bottom: 50px;
    margin-top: 50px;
}
}